@import "tailwindcss";

:root {
  --iconify-stroke-width: 1.5;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(248 250 252);
  color: rgb(15 23 42);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: rgb(224 231 255);
  color: rgb(49 46 129);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
